/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility classes for position and display */
.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100vw;
}

/* Nav Bar - Headliner */
.navBar {
  background-image: linear-gradient(
    to left,
    #b3b3f6,
    #9292f2,
    #7979ec,
    rgb(52, 52, 230),
    #6969f9,
    #4545fa,
    #7979ec,
    #9292f2,
    #b3b3f6
  );
  border-bottom: 2px steelblue solid;
  justify-content: space-between;
  height: 4rem;
  padding: 0rem 1rem;
  color: aliceblue;
}

/* Buttons styling - Nav Bar */
.navBtn {
  height: 3rem;
  background-color: #7942ac;
  width: 9rem;
  margin-top: 1rem;
  border-radius: 10px 10px 0px 0px;
}
.navBtn > a {
  color: whitesmoke;
}
